.container {
  width: 90%;
text-align: center;
  padding: 32px 24px;
  font-size: 14px;
  font-family: inherit;
  color: white;
  display: flex;
  flex-direction: column;
  gap: 20px;
  box-sizing: border-box;
  border-radius: 16px;
  margin: 0 auto;
  margin-top: 60px;
  max-width: 900px;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
.formHeader{
  text-align: center;
  font-size: 3rem;
}
.container button:active {
  scale: 0.95;
}

.contactForm {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 20px;
  border: 1px solid gray;
}

.contactForm div {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.contactForm div label {
  margin-bottom: 5px;
  color: #717171;
  font-weight: 600;
  font-size: 12px;

}


.contactForm div input,
.contactForm div textarea {
  width: 90%;
  padding: 12px 16px;
  border-radius: 8px;
  color: #fff;
  font-family: inherit;
  background-color: transparent;
  border: 1px solid #414141;

}

.contactForm div textarea {
  resize: none;
  height: 96px;
}

.contactForm div input:focus,
.contactForm div textarea:focus {
  outline: none;
  border-color: #e81cff;
}

.contactForm button {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  align-self: flex-start;
  font-family: inherit;
  color: #717171;
  font-weight: 600;
  width: 40%;
  background: white;
  border: 1px solid #414141;
  padding: 12px 16px;
  font-size: inherit;
  gap: 8px;
  margin-top: 8px;
  cursor: pointer;
  border-radius: 6px;
 margin: 0 auto;}

.contactForm button:hover {
  background-color: black;
  color: white;
}

.successNotification {
  color: green;
  font-weight: bold;
  text-align: center;
  margin-bottom: 16px;
}

.error {
  color: red;
  font-size: 12px;
}
@media(max-width:700px){
  .formHeader{
    font-size: 2rem;
    margin-top: 0;
  }
}