.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    margin: 0 auto;
    color: white;
    background-color: rgb(19, 5, 19);
}
.container>h1{
    font-size: 25px;
    text-align: center;
    width: 90%;
    font-weight: 900;
}
.boxDiv{
    display: grid;
    justify-content: center;
    display: grid;
    grid-template-columns: 1fr 1fr; 
    gap: 30px; 
    
}
.boxDiv .box{
    padding: 20px;
    text-align: center;
    border: 0.1px solid rgb(192, 192, 192); /* Light gray for a shining effect */
    box-shadow: rgba(192, 192, 192, 0.5) 0px 4px 6px, rgba(192, 192, 192, 0.25) 0px 1px 3px;
    
    width: 450px;
    height: auto;
    padding: 10px;
    /* background-color: #a7a5a5; */
    color: gray;
    right: 0;
    border-radius: 5px;
    background: rgb(23, 23, 33);
    backdrop-filter: blur(15px);
}
.boxDiv .box:nth-child(3) {
    grid-column: 1 / -1; 
    justify-self: center; 
}
.techBox {
    width: 95%;
    margin: 0 auto;
    padding-top: 10px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr)); 
    gap: 10px;
    padding: 10px;
    
}
.para{
    text-align: center;
    font-size: 18px;
    margin-top: 0;
    color: gray;
   }
.techItem {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px; 
    padding: 5px;
    border-radius: 10px;
    border: 1px solid gray;
    text-align: center;
    gap: 5px;
    color: white;
}
@media (max-width: 1400px) {
    .container .header{
        font-size: 40px;
       }
      
}
@media (max-width: 1000px) {
    .container{
        padding: 10px;
    }
    .boxDiv {
        grid-template-columns: 1fr; 
        width: 100%;
    }
   .boxDiv .box{
    width: 90%;
    margin: 0 auto;
   }
   .container h1{
    font-size: 30px;
   }
    .techBox {
        grid-template-columns: repeat(auto-fit, minmax(100px, 1fr)); 
    }
    .para{
        text-align: center;
        margin-top: 0;
        color: gray;
       }
}

@media (max-width: 480px) {
    .techBox {
        grid-template-columns: repeat(2, 1fr); 
    }
  
    .techItem {
        height: 50px;
        font-size: 0.85rem; 
    }
}