.container {
    background: linear-gradient(
        135deg,
        rgba(27, 16, 16, 0.7), /* Light transparent white */
        rgba(10, 10, 27, 0.4)  /* Slight blue tint */
    );
    backdrop-filter: blur(15px);    height: auto;
    border: 2px  blue;
    border-radius: 54% 0% 0% 25% / 6% 25% 25% 0%;
    padding: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    margin: 0 auto;
    margin-top: 120px;
    width: 100%;
    box-sizing: border-box; /* Ensures padding is included in the width */
}
 
.sec {
   border-radius: 10px;
   max-width:700px;
   /* background-color: rgb(197, 198, 199); */
   /* background: #0d0b13; */
   box-shadow: #495f69 0px 10px 10px -5px;
   transition: all 0.3s ease;   padding: 10px;
   text-align: center;
   display: flex;
   flex-direction: column;
   align-items: center;
   margin: 0 auto;
   gap: 30px;
   height: 100%;
   width: 70%;
   justify-content: center;
   border-radius: inherit;
   box-sizing: border-box; /* Ensures padding is included in the width */

}
.sec>p{
   font-size: 30px;
   margin: 0;
   font-weight: 700;
   color: white;
}
.NavUl{
    display: flex;
    list-style-type: none;
    margin: 0 auto;
    width: auto;
    padding: 10px;
    gap: 20px;

}
.sec>ul>li>a{
    color: white;
    font-size:18px ;
    text-decoration: none;
}
.sec>div{
    display: flex;
    width: 40%;
    margin: 0 auto;
    justify-content: space-between;
}
@media (max-width:900px) {
    .container{
        width: 90%;
        margin: 0 auto;
        padding: 20px; /* Adjust padding for small screens */
        height: auto;
        margin-top: 40px;
    }
    .sec{
        width: 90%; /* Ensure sec takes 90% of the container width */
        display: flex;
        margin: 0 auto ;

    }
    
    .NavUl{
        border: 2px solid rgb(6, 71, 6);
        margin: 0 auto;
        gap: 7px;
        width: auto;
    }
    .sec>ul>li{
        font-weight: 700;
        color: white;
        margin: 0 auto;
    }
    .sec>ul>li>a{
        color: white;
        font-size:10px ;
        text-decoration: none;

    }
    .sec>div{
        width: 60%;
    }
    footer{
        color: white;
    }
}