.container {
    background: linear-gradient(
        135deg,
        rgba(255, 255, 255, 0.7), /* Light transparent white */
        rgba(240, 240, 255, 0.4)  /* Slight blue tint */
    );
    backdrop-filter: blur(15px);    height: auto;
    border: 2px  blue;
    border-radius: 54% 0% 0% 25% / 6% 25% 25% 0%;
    padding: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 800px;
    height: 600px;
    margin: 0 auto;
    margin-top: 120px;
    box-sizing: border-box; /* Ensures padding is included in the width */
}
 
.sec {
   border-radius: 10px;
   max-width:700px;
   /* background-color: rgb(197, 198, 199); */
   background: #eaecece8;
   box-shadow: #cff0ff 0px 10px 10px -5px;
   transition: all 0.3s ease;   padding: 10px;
   text-align: center;
   display: flex;
   flex-direction: column;
   align-items: center;
   margin: 0 auto;
   gap: 30px;
   height: 100%;
   justify-content: center;
   border-radius: inherit;
   box-sizing: border-box; /* Ensures padding is included in the width */

}
.sec>p{
   font-size: 30px;
   margin: 0;
   font-weight: 700;
}
.NavUl{
    display: flex;
    list-style-type: none;
    margin: 0 auto;
    width: auto;
    padding: 10px;
    gap: 20px;
}
.sec>ul>li>a{
    color: black;
    font-size:18px ;
    text-decoration: none;
}
.sec>div{
    display: flex;
    width: 40%;
    margin: 0 auto;
    justify-content: space-between;
}
@media (max-width:900px) {
    .container{
        width: 90%;
        margin: 0 auto;
        padding: 20px; /* Adjust padding for small screens */
        height: auto;
        margin-top: 40px;
    }
    .sec{
        width: 90%; /* Ensure sec takes 90% of the container width */
        display: flex;
        margin: 0 auto ;
    }
    .sec>ul{
        margin: 0 auto;
        gap: 10px;
        flex-direction: column;
        width: auto;
        padding: 20px;
    }
    .sec>ul>li>a{
        color: black;
        font-size:15px ;
        text-decoration: none;
    }
    .sec>div{
        width: 60%;
    }
}