:root{
    line-height: 1.5;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
html {
    scroll-behavior: smooth;
  }
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: auto;
    width: 100%;
    /* background: #1e1e2f; */
    background:#08081f ;
    box-shadow: inset 0 0 30px rgba(0, 0, 0, 0.8), 
            0 0 50px rgba(0, 0, 0, 0.6);
    border: 1px solid rgba(255, 255, 255, 0.2);
    -ms-overflow-style: none;  
}

body::-webkit-scrollbar {
    display: none; 
}
.app{
    height: auto;
    border: 2px solid gray;
    width: 90%;
    margin: 20px auto;
    padding: 20px;
    overflow-x: visible;
font-family: Arial, Helvetica, sans-serif;}
@media (max-width:900px){
    .app{
     /* overflow-x: hidden; */
     padding: 10px;
    }
}

